on post-fs
    mount_all /system/etc/fstab.unencrypted

on late-fs
    mount_all /system/etc/fstab.unencrypted.late-fs --late

on boot
    chown system /dev/block/bootdevice/by-name/frp
    chown system /dev/block/nvme0n1p5

# Disable update_engine
service update_engine /system/bin/true
    oneshot
    disabled
